extends layout

block content
  .d-flex.justify-content-between.align-items-center.mb-3
    h1.mb-0 Best Application for music
    button.btn.btn-primary(type="button") + Add item

  .row.mb-3
    .col-md-8
      input.form-control(type="text" placeholder="Search by artist, album or track (mock)")
    .col-md-4
      select.form-select
        option(value="all" selected) All
        option(value="track") Tracks
        option(value="album") Albums
        option(value="artist") Artists

  .row
    app-track-list Loading...

block scripts
  script(type="module" src="/polyfills-FFHMD2TL.js")
  script(type="module" src="/main-GKRYE5OR.js")
