extends layout

block content
  h1.mb-4 Login
  .row
    .col-md-4
      form
        .mb-3
          label.form-label(for="email") Email
          input#email.form-control(type="email" placeholder="you@example.com")
        .mb-3
          label.form-label(for="password") Password
          input#password.form-control(type="password")
        .d-flex.gap-2
          button.btn.btn-success(type="button") Sign in
          a.btn.btn-link(href="/register") Create account
